body {
	background-color:#CC0000;
}
a {
	text-decoration: none;
}
header {
	background-color: white;
}
div {
	background-color: white;
	text-align: center;
}
a {
	font-size: 30px;
	color: black;
}
.button {
	border-color: black;
	background-color: black;
	border-radius: 10px;
	font-size: 30px;
	color: white;
}
table {
	border-collapse: collapse;
}
th {
	font-size: 30px;
}
td{
	font-size: 25px;
}
th,td {
	text-align: center;
	padding: 10px;
}
table tr:nth-child(even) {
    background-color: seashell;
}
table tr:nth-child(odd) {
   background-color:peachpuff;
}
table th {
    background-color: black;
    color: white;
}